@model CarDealer.Models.ViewModels.Logs.AllLogsPageVm
@{
    ViewBag.Title = "All";
    var url = $"/logs/all";
    if (Model.WantedUserName != null)
    {
        url += $"/{Model.WantedUserName}";
    }
}

<br />
<form method="get">
    <div class="form-group">
        <input class="form-control" type="text" name="username" value="@Model.WantedUserName" placeholder="Username..." />
        <br />
        <input class="btn-primary btn btn-lg" type="submit" value="Search Logs" />
        <br />
        <br />
        <a href="/logs/deleteall" class="btn btn-lg btn-warning">Clear All Logs</a>
    </div>
</form>

<table class="table table-striped">
    <tr>
        <td>User</td>
        <td>Operation</td>
        <td>Modified Table</td>
        <td>Time</td>
    </tr>
    @foreach (var log in Model.Logs)
    {
        <tr>
            <td>@log.UserName</td>
            <td>@log.Operation.ToString()</td>
            <td>@log.ModfiedTable</td>
            <td>@log.ModifiedAt</td>
        </tr>
    }
</table>

<p>Page @Model.CurrentPage of @Model.TotalNumberOfPages</p>
@for (int i = 1; i <= Model.TotalNumberOfPages; i++)
{
    var currentUrl = url + $"?page={i}";
    if (Model.CurrentPage == i)
    {
        <a href="@currentUrl" class="btn btn-sm btn-primary">@i</a>
    }
    else
    {
        <a href="@currentUrl" class="btn btn-sm">@i</a>
    }
}

