@using CarDealer.Models.ViewModels.Sales
@model SaleVm

@{
    ViewBag.Title = "About Sales";
}

<br />
<p>
    Car Make: @Model.Car.Make
</p>

<p>
    Car model: @Model.Car.Model
</p>

<p>
    Car Travel Distance: @Model.Car.TravelledDistance
</p>

<p>
    Customer name: @Model.Customer.Name
</p>

<p>
    Price: @Model.Price
</p>

<p>
    Discount: @Model.Discount
</p>